.hidden {
  display: none;
}

.list-activity {
  cursor: pointer;
  color: #0088cc;
}

.list-activity:hover {
  text-decoration: underline;
}

.card {
  padding: 24px;
  border-radius: 6px;
  border-style: ridge;
  border-width: 4px;

}

#display {
  margin-top: 30px;
  display: none;
}

#description-helper {
  text-align: center;
  margin-top: 10px;
}

body {
  font-family: fantasy;
}
label {
  font-weight: bolder;
}

cite {
  float: right;
  padding-right: 75px;
}
